docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g) -v /home/zegami/ftp-2019:/home/zegami/ftp-2019"
process.container = 'appf/plantcv'
process.cache = 'deep'

params.image_access_method ='sftp'
params.image_server = '146.118.66.62'
params.image_user = 'ubuntu'
params.image_pkey = '/Users/a1132077/.ssh/id_rsa'

params.image_limit = 100000000000
params.debug = 'none'
params.write_image = 'false'

params.database_server = '146.118.66.62'
params.database = '0000_Production_N'
params.database_user = 'readonlyuser'
params.database_password = 'readonlyuser'
params.query_file = 'query_snapshots.sql'

params.measurement_label = '0467 Barley'
params.image_base_dir = '/plantdb/ftp-2019/'
