docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"
process.container = 'appf/plantcv'
process.cache = 'deep'

params.image_server = '146.118.66.62'
params.image_user = 'ubuntu'
params.image_pkey = '/home/user1/.ssh/id_rsa'

params.image_limit = 20

params.database_server = '146.118.66.62'
params.database = '0000_Production_N'
params.database_user = 'readonlyuser'
params.database_password = 'readonlyuser'

params.measurement_label = '0467 Barley'
params.image_base_dir = '/plantdb/ftp-2019/'
