cloudpickle==1.2.1
cycler==0.10.0
decorator==4.4.0
descartes==1.1.0
kiwisolver==1.1.0
matplotlib==3.1.1
mizani==0.5.4
networkx==2.3
numpy==1.17.0
opencv-python==3.4.5.20
palettable==3.2.0
pandas==0.25.0
patsy==0.5.1
Pillow==6.2.1
plantcv==3.5.0
plotnine==0.5.1
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
PyWavelets==1.0.3
scikit-image==0.14.3
scipy==1.2.2
six==1.12.0
statsmodels==0.10.1
